<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CanonicalName</key>
	<string>watchsimulator3.2</string>
	<key>CustomProperties</key>
	<dict/>
	<key>DefaultDeploymentTarget</key>
	<string>3.2</string>
	<key>DefaultProperties</key>
	<dict>
		<key>AD_HOC_CODE_SIGNING_ALLOWED</key>
		<string>YES</string>
		<key>CODE_SIGNING_REQUIRED</key>
		<string>YES</string>
		<key>CODE_SIGN_ENTITLEMENTS</key>
		<string></string>
		<key>DEAD_CODE_STRIPPING</key>
		<string>YES</string>
		<key>DEFAULT_COMPILER</key>
		<string>com.apple.compilers.llvm.clang.1_0</string>
		<key>DEPLOYMENT_TARGET_SUGGESTED_VALUES</key>
		<array>
			<string>2.0</string>
			<string>2.1</string>
			<string>2.2</string>
			<string>3.0</string>
			<string>3.1</string>
			<string>3.2</string>
		</array>
		<key>ENTITLEMENTS_REQUIRED</key>
		<string>YES</string>
		<key>PLATFORM_NAME</key>
		<string>watchsimulator</string>
		<key>SUPPORTED_DEVICE_FAMILIES</key>
		<string>4</string>
		<key>WATCHOS_DEPLOYMENT_TARGET</key>
		<string>3.2</string>
	</dict>
	<key>DisplayName</key>
	<string>Simulator - watchOS 3.2</string>
	<key>DocSetFeedName</key>
	<string>watchOS 3.2</string>
	<key>DocSetFeedURL</key>
	<string>http://developer.apple.com/rss/com.apple.adc.documentation.WatchOS3_2.atom</string>
	<key>IsBaseSDK</key>
	<string>YES</string>
	<key>MaximumDeploymentTarget</key>
	<string>3.2.99</string>
	<key>MinimalDisplayName</key>
	<string>Simulator - 3.2</string>
	<key>Toolchains</key>
	<array>
		<string>com.apple.dt.toolchain.WatchOS3_2</string>
	</array>
	<key>Version</key>
	<string>3.2</string>
</dict>
</plist>
